.contenedor_button_pedido .button{
  background-color: rgba(210, 50, 10, 1);
  color: white;
  border: 1px solid rgba(210, 50, 10, 1); /* Puedes ajustar el borde según sea necesario */
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
  font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
  cursor: pointer;
}
.contenedor_button_pedido .button:hover{
  background-color:white ;
  color: rgba(210, 50, 10, 1);
}
.container_botones{
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;

}