/* src/iniciosesion/firebase/ResetPassword.css */

.reset-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8c1713;
  }
  .reset-password-container h2{
    color: white;
    margin-bottom: 30px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .reset-password-container form {
    display: flex;
    flex-direction: column;
  }
  
  .reset-password-container input {
    margin-bottom: 10px;
    padding: 10px;
   
  }
  
  .reset-password-container button {
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reset-password-container button:hover {
    background-color: #0056b3;
  }
  
  .reset-password-container .error-message {
    color: red;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
  }
  
  .reset-password-container .success-message {
    color: green;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Media queries para pantallas medianas y pequeñas */

/* Pantallas medianas (tabletas) */
@media (max-width: 768px) {
  .reset-password-container {
    padding: 15px;
    margin: 0 20px;
 
  }

  .reset-password-container h2 {
    font-size: 1.5rem; /* Ajusta el tamaño del texto del título */
  }

  .reset-password-container input {
    padding: 8px; /* Reduce el padding en los campos de entrada */
  }

  .reset-password-container button {
    padding: 8px; /* Reduce el padding del botón */
    font-size: 0.9rem; /* Ajusta el tamaño del texto del botón */
  }
}

/* Pantallas pequeñas (teléfonos móviles) */
@media (max-width: 480px) {
  .reset-password-container {
    padding: 10px;
    margin: 0 20px;
  }

  .reset-password-container h2 {
    font-size: 1.2rem; /* Ajusta el tamaño del texto del título */
    margin-bottom: 20px; /* Reduce el margen inferior */
  }

  .reset-password-container input {
    padding: 6px; /* Reduce aún más el padding en los campos de entrada */
    font-size: 0.9rem; /* Ajusta el tamaño del texto en los campos de entrada */
  }

  .reset-password-container button {
    padding: 6px; /* Reduce el padding del botón */
    font-size: 0.8rem; /* Ajusta el tamaño del texto del botón */
  }
}
