
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container h3{
    color: rgba(210, 50, 10, 1);    padding: 15px 0;
}
.contenedor_listas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contenedor_listas_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 10px;
}

.resena {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resena p {
    margin: 0;
    padding: 2px 0;
    
}
.resena strong{
    font-size: 0.8rem;
}

/* Media Queries */

/* Pantallas grandes (por defecto) */
@media (min-width: 1200px) {
    .contenedor_listas_card {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Pantallas medianas */
@media (max-width: 1199px) and (min-width: 768px) {
    .contenedor_listas_card {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Pantallas pequeñas */
@media (max-width: 767px) {
    .contenedor_listas_card {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Pantallas extra pequeñas (móviles) */
@media (max-width: 480px) {
    .contenedor_listas_card {
        grid-template-columns: 1fr;
    }
}